<body class="profile-page sidebar-collapse">
 
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../../assets/header1.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="../../assets/icons/logoTwo.png"  alt="Circle Image" class="img-circle shadow-lg img-no-padding img-responsive">
        </div>
        
        <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ml-auto mr-auto">
          <div class="card card-register shadow" style="background-color: rgba(29, 209, 161,0.6);">

         <img src="../../assets/icons/logoTwo.png" width="100px" style="display: block;margin-left: auto;margin-right: auto;"><br><br>
              <b style="font-weight: bold">ORDER ID : <br><br>
                Service Type : <br><br>
                
                Grand Total : Rs. <br>

                 <button id="viewImage" value=""  class="btn btn-block btn-warning">View Image</button><br>

                 Grand Total : 
                  <br><br>
                 Payment Status : 
                  <br>
                 Delivery Date :  <br><br>

                
                 Delivery Time : <br><br>
                 Placed on :  <br><br>
                
               </b>
               
               
           
  
            
           </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  

</body>



<!-- <script type="text/javascript">
	
	$(document).ready(function() {
    
    $('#viewImage').click(function() {
    	var myImage = new Image();
		myImage.src = 'api/' + $('#viewImage').val();
        Swal.fire({
		  title: '',
		  text: '',
		  imageUrl: 'api/' + $('#viewImage').val(),
		  imageAlt: 'Custom image',
		})
    });
});
</script> -->