
 
 <div class="row">
     
          <div class="jumbotron  col-lg-5" class="jumbotron" style="margin: 10px;background-color: rgba(29, 209, 161,0.2);">
            <img src="../../assets/icons/logoTwo.png" width="100px"><br><br>
              <b style="font-weight: bold">ORDER ID : <br><br>
                Service Type : <br><br>
                
                Grand Total : Rs. <br><br>

                  
                 Delivery Date :  <br><br>
                
               </b>
               
               
           
          </div>
    <h3 class='text-center' style='font-weight:bold;width:100%'>No Service History Found...!</h3>";
        
        </div>



