
<body class="register-page sidebar-collapse">
  
    <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ml-auto mr-auto">
          <div class="card  card-register" style="background-color: white">
            <div class="row">
              <div  class="col-sm-12 text-center"><img src="https://thumbs.gfycat.com/ShyCautiousAfricanpiedkingfisher-size_restricted.gif" width="50px"></div>
              <div class="text-center"><h2 class="text-center text-dark">Payment Succesful</h2></div>
            </div>
            <br><br>
            <div class="payment-info card" style="padding: 12px;color: black;font-weight: bold;">
              
            
              TXN ID: 
              <br>
              Order ID: 
              <br>
              Amount : Rs. 
              <br>
              Payment Mode : 
              <br>
              TXN Date : 
              <br>
              BANK TXN ID : 
            </div>

            <div class="text-center">
              <a href="dashboard.php"><button class="btn btn-warning btn-round">Dashboard</button></a>
            </div>
            
              
           
                <div class="card text-dark card-register" style="background-color: white;">
            <div class="row">
              <div  class="col-sm-12 text-center"><img src="https://cdn.dribbble.com/users/2573223/screenshots/7038977/oops.gif" style="border-radius: 12px" ></div><br><br>
              <div class="text-center">
                
                <h2 class="text-center">Transaction Failed.. Please Try Again</h2></div>
            </div>
            <br><br>
            <div class="text-center">
              <a href="orderHistory.php"><button class="btn btn-warning btn-round">Your Services</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
     
</body>

<!-- <script> 
   $('.btn').on('click', function() {
    
    var $this = $(this);
  $this.html('<i class="fa fa-circle-o-notch fa-spin"></i> Processing');
    setTimeout(function() {
       $this.button('reset');
   }, 1000);
});
  </script> -->
