<app-navbar></app-navbar>
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-profile></app-profile> -->
<!-- <app-user-detail></app-user-detail> -->
<!-- <app-ele-ac-plumb></app-ele-ac-plumb> -->
<!-- <app-package-shipment></app-package-shipment> -->
<!-- <app-medicine></app-medicine> -->
<!-- <app-premium></app-premium> -->
<!-- <app-order-history></app-order-history> -->
<!-- <app-get-orders></app-get-orders> -->
<!-- <app-payment-option></app-payment-option> -->
<!-- <app-paytm-response></app-paytm-response> -->
<!-- <app-view-order-history></app-view-order-history> -->
<!-- <app-checkout></app-checkout> -->

<router-outlet></router-outlet>

<app-footer></app-footer>