

<body class="profile-page sidebar-collapse">
 
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/header1.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="../../assets/icons/logoTwo.png"  alt="Circle Image" class="img-circle shadow-lg img-no-padding img-responsive">
        </div>
        <div class="name">
          <h4 class="title" style="font-weight: bold;font-size: x-large;">Kadir Sheikh
            <br />
          </h4>
          
        </div>
        <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ml-auto mr-auto">
          <div class="card card-register shadow" style="background-color: rgba(29, 209, 161,0.6);">
            <h3 class="title mx-auto" style="color: black;font-weight: bold;font-size: x-large;"><b>Profile</b></h3>
            <a routerLink="/userDetails"><img src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/person-icon.png" width="100px" style="display: block;margin-left: auto;margin-right: auto;"><button class="btn btn-danger btn-block">My Profile</button></a><label></label>
            <a routerLink="/orderHistory"><img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-3/256/order-history-icon.png" width="100px" style="display: block;margin-left: auto;margin-right: auto;"><button class="btn btn-danger btn-block">Order History</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
  
      
      <!-- Tab panes -->
      
    </div>
  </div>

</body>



