
<body class="register-page sidebar-collapse">
   
    
    <div>
      <div class="filter"></div>
      <div class="content-center">
        <div class="owl-carousel">   
          <div class="item">
            <Section class="img-slider">
              <div class="slider-container">
                
                <div class="slide">
                  <img src="../../assets/marketplace1.jpg">
                </div>
                
                <div class="slide">
                  <img src="../../assets/header1.jpg">
                </div>
                <div class="slide">
                  <img src="../../assets/wp3152211.jpg">
                </div>
               
                
              </div>
            </Section>
          </div>
        </div>
        
        </div>
        
              <!-- Owl Carousel End -->
        <div class="row" style="margin-top: -95px">
          <div class="col-lg-12 ml-auto mr-auto">
              <div class="card col-sm-6 col-md-12" style="padding: 24px" >
                <div style="padding-bottom: 15px;">
                  <span class="top-notch" style="margin-left: 140px;"></span>
                </div>
                <div class="col dash" style="padding: 0px">
                    <div   class="col-sm-4 icon" ><a routerLink="/grocery"><img src="https://cdn3.iconfinder.com/data/icons/delivery-services-2/64/grocery-delivery-man-avatar-service-online-market-512.png"  class="" ><p class="ititile">Grocery</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a ><img src="../../assets/icons/images (1).png"  class="" ><p class="ititile">Automotive</p></a></div>
  
  
                    <div  class="col-sm-4 icon" ><a routerLink="/eleAcPumb"><img src="../../assets/icons/images (2).png"  class="" ><p class="ititile">Plumbing</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a routerLink="/eleAcPumb"><img src="../../assets/icons/images.png"  class="" ><p class="ititile">Electric Service</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a routerLink="/eleAcPumb"><img src="../../assets/ac.webp"  class="" ><p class="ititile">Air Conditioner</p></a></div>
  
  
                    <div  class="col-sm-4 icon" ><a routerLink="/packageShipment"><img src="../../assets/icons/pack.webp"  class="" ><p class="ititile">Package Shipment</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a routerLink="/medicine"><img src="../../assets/icons/images.jpeg"  class="" ><p class="ititile">Medicines</p></a></div>
                     
                    <div  class="col-sm-4 icon" ><a routerLink="/premium"><img src="../../assets/icons/crown-jewel-reward-winner-512.webp"  class="" ><p class="ititile">Dailyvry Premium</p></a></div>
              </div>
  
              <hr class="my-hr" style="border-top: 0px;">
              <section>
                <div class="heading-top"><span style="margin-left: 130px;"></span><br><h3 class="text-center" style="font-weight: 600;font-size:large;margin-top: 8px;">Popular Services</h3></div>
                <br>
                <div class="section-body">
          
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="https://reviewimo.com/wp-content/uploads/2020/04/buffing-car-wax-1024x568-1.jpg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTIqQMUPxxAK0izjvL-7U5RQ4ph57iCjWzpTw&usqp=CAU" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="https://blog.getpitstop.com/wp-content/uploads/2020/03/car-service-in-Gurgaon.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="https://nmotion2015.com/wp-content/uploads/2019/03/car-oil.jpg" alt="Fourth slide">
                      </div>
                    </div>
                   
                  </div>
                </div>
                
              </section>
              
              <br>
    
              
              <section>
                <div class="heading-top"><span style="margin-left: 130px;"></span><br><h3 class="text-center" style="font-weight: 600;font-size:large; margin-top: 8px;">How we work?</h3></div>
                <br>
                <div class="section-body">
                  <div class="row">
                    <div class="col-2 text-center">
                      <div class="circle"></div>
                      <div class="line-1"></div>
                    </div>
                    <div class="col-10">
                      <div class="row"><i class="fas fa-car how-we-work-icon" style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h3 class="text-center" style="font-weight: 300;font-size:medium;">Select Your Service</h3></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2 text-center">
                      <div class="circle"></div>
                      <div class="line-1"></div>
                    </div>
                    <div class="col-10">
                      <div class="row"><i class="fas fa-calendar-alt how-we-work-icon" style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h3 class="text-center" style="font-weight: 300;font-size:medium;">Schedule Service</h3></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2 text-center">
                      <div class="circle"></div>
                      
                    </div>
                    <div class="col-10">
                      <div class="row"><i class="fas fa-wrench how-we-work-icon" style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h3 class="text-center" style="font-weight: 300;font-size:medium;">Enjoy Service</h3></div>
                    </div>
                  </div>
                </div>
              </section>

              
              <br>
              <!-- Featured Service Wall -->
              <div class="">
                <h3 class="text-center" style="font-weight: 600;font-size:large;">We provide</h3>
                <table class="features table table-responsive">
                  <td class="text-center">
                      <i class="fas fa-award"></i><p class="ititile">Quality<br>Services</p>
                  </td>
                  <td class="text-center">
                      <i class="fas fa-cog"></i><p class="ititile">Genuine<br>Parts</p>
                  </td>
                  <td class="text-center">
                      <i class="fas fa-user-tie"></i><p class="ititile">Professional<br>Services</p>
                  </td>
                  <td class="text-center">
                      <i class="fas fa-map-marker-alt"></i><p class="ititile">Pickup &<br>Drop</p>
                  </td>                
                </table>
              </div>
  
            </div>
          </div>
        </div>
      </div>
   
</body>
