


<body class="register-page sidebar-collapse">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ml-auto mr-auto">
          <div id="register-div" class="card card-register" style="background-color: rgba(29, 209, 161,0.8);">
             
            <h3 class="title mx-auto text-center font-weight-bold text-white">Enter your Email</h3>
           
            <form id="user-forget-password-form" method="post" class="register-form">
              <label class="font-weight-bold">Email:</label>
              <input type="email" class="form-control" required name="email" placeholder="Email associated with your account '@gmail.com'">
              <div id="email-error"></div>
              <button id="user-forget-password-btn" type="submit" class="btn btn-success btn-block btn-round" name="register">Submit</button><br>
            </form>
            <div class="forgot">
            </div>
            <!-- check -->
            <!-- check end -->
        </div>  
          </div>
        </div>
      </div>
  

 

</body>


<!-- <script type="text/javascript">
  $(document).ready(function(){
    $("#user-forget-password-form").submit(function(event){
      event.preventDefault();
      console.log($("#user-forget-password-form").serialize());
      $("#user-forget-password-btn").attr("disabled",true);
      $("#user-forget-password-btn").html('<i class="fa fa-circle-o-notch fa-spin"></i> Processing');
      $.ajax({
        url : 'api/forget-password.php',
        type : 'POST',
        data :  $("#user-forget-password-form").serialize(),

        error : function(response){
          $('#email-error').addClass("alert alert-danger").html('Technical error!Please try later!');
          $("#user-forget-password-btn").attr("disabled",false);
        },
        success : function(response){
          
          $("#user-forget-password-btn").html('Submit');
          var response = JSON.parse(response);
          console.log(response);
          
          if(response.success == 'true'){
            preventReload();
                
                $("#register-div").html(
                        '<div class="text-center">'+
                    '<div id="otp-form">'+
                     '<h4>An OTP has been sent to your Email ! Please Check Your Mail...</h4>'+
                      '<br>'+
                      '<br>'+
                      '<h5>'+response.email+'&nbsp;&nbsp;<i class="nc-icon nc-settings"></i></h5>'+ 
                      '<input id="otp_input" type="text" class="form-control" required name="otp_input" placeholder="Enter OTP Here..">'+
                      '<label for="password">Password:</label>'+
                      '<input id="password" type="password" class="form-control" required name="password" placeholder="Enter New Password Here..">'+
                      '<button id="otp-submit" class="btn btn-info">Submit</button>'+
                      
                    '</div>'+
                  '</div>'+
                  '<div id="otp-message"></div>'
                  );
              }else if(response.success == 'false'){
                $('#email-error').addClass("alert alert-danger").html(response.message);
                $("#user-forget-password-btn").attr("disabled",false);
              }else{
                $('#email-error').removeClass("alert alert-danger").html('');
                $("#user-forget-password-btn").attr("disabled",false);
              }
          
          
        }
      });
    });
    $(document).on("click", "#otp-submit" , function() {
        $("#otp-submit").attr("disabled",true);
        $("#otp-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Processing');
        $.ajax({
          url : 'api/forget-password-otp-validate.php',
          type : 'POST',
          data : {
            'action' : 'otp-validate',
            'otp' : $("#otp_input").val(),
            'password' : $("#password").val(),

          },
          error : function(response){
              console.log('error');
          },
          success : function(response){
            var response = JSON.parse(response);
            console.log(response);
            $("#otp-submit").attr("disabled",false);
            if(response.success == 'true'){
                allowReload();
                $("#otp-submit").attr("disabled",true);
                $("#otp-submit").html('Submit'); 
                $("#otp-message").removeClass().addClass("alert alert-success").html('<i class="nc-icon nc-check-2">&nbsp;</i>Password Succesfully Changed');
                $("#register-div").append('<button id="otp-verified-login" class="btn btn-info btn-round">Login</button>');
            }
            else if(response.success == 'false'){
                $("#otp-submit").attr("disabled",false);
                $("#otp-submit").html('Submit'); 
                $("#otp-message").removeClass().addClass("alert alert-danger").html(response.message);
            }
          }
        });
    });
    $(document).on("click", "#otp-verified-login" , function(){
        window.location.href='login.php';
    });
    function preventReload(){
      window.onbeforeunload = function() {
        return "Dude, are you sure you want to leave? Think of the kittens!";
      }
    }
    function allowReload(){
      window.onbeforeunload = function () {
  // blank function do nothing
      }
    }
  
  });
</script> -->
